.container {
  width:100%;
  text-align:center;
}

body {
  font-family: 'Quattrocento Sans'
}

/*styling for topbar*/

.topbar {
  width:100%;
  padding-top:25px;
  padding-bottom:25px;
  background-color: #434A54;
}

.topbar img {
  vertical-align: middle;
  border-radius:100%;
  height: 75px;
  display:inline;
  transition: all 1s ease;
}

.topbar img:hover {
  height: 100px;
  /* border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em; */
}

.topbar h1 {
  vertical-align: middle;
  display:inline;
  margin-left:25px;
}

h1.topbar {
  color: #F5F7FA;
}



.nextbar {
       width:100%;
      height: 35px;
  margin-top: 20px;
    overflow: hidden;
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
  transition: all 5s ease;
  text-align: center;
}


.nextbar:hover {
  height: 325px;

}

.lastbox {
  text-align:center;
  height:500px;

}

.shadow {
      height: 500px;
       width: 500px;
       margin: 0 auto;
  margin-top: 20px;
  overflow:hidden;
  background: rgba(169,3,41,1);
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
-webkit-box-shadow: 10px 10px 66px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 66px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 66px 0px rgba(0,0,0,0.75);
transition: all 10s linear;
}

.shadow:hover {
  -webkit-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
height: 250px;
width:250px;
}
